.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 2rem !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 2rem !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
    font-size: 2rem !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 2rem !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 1.8rem !important;
}
